.formContainer {
  align-items: center;
  background-color: #810ca8;
  display: flex;
  height: 100vh;
  justify-content: center;

  .formWrapper {
    align-items: center;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 60px;

    .logo {
      color: #ff9d00;
      font-weight: bold;
      font-size: 40px;
    }

    .title {
      color: #810ca8;
      font-size: 15px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        border: none;
        border-bottom: 1px solid #810ca8;
        padding: 15px;
        width: 250px;

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #810ca8;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        transition-duration: 0.5s;
      }

      button:hover {
        background-color: #2d033b;
      }

      label {
        align-items: center;
        color: #810ca8;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        gap: 10px;

        img {
          padding-left: 3%;
          width: 32px;
        }
      }
    }
    p {
      color: #810ca8;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  align-items: center;
  background-color: #810ca8;
  display: flex;
  justify-content: center;
  height: 100vh;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    height: 80%;
    overflow: hidden;
    width: 65%;
  }

  .sidebar {
    background-color: #48055f;
    flex: 1;

    .navbar {
      align-items: center;
      background-color: #2d033b;
      color: white;
      cursor: pointer;
      display: flex;
      height: 50px;
      justify-content: space-between;
      padding: 10px;
    }

    .logo {
      color: #ff9d00;
      font-weight: bold;
      font-size: 24px;
    }

    .user {
      display: flex;
      gap: 10px;
    }

    img {
      background-color: white;
      border-radius: 50%;
      height: 24px;
      object-fit: cover;
      width: 24px;
    }

    button {
      border: none;
      background-color: #810ca8;
      color: white;
      font-size: 10px;
    }

    .search {
      border-bottom: solid 1px white;

      .searchForm {
        padding: 10px;

        input {
          background-color: transparent;
          border: none;
          color: white;
          outline: none;

          &::placeholder {
            color: #8696a0;
          }
        }
      }
    }

    .userChat {
      align-items: center;
      color: white;
      cursor: pointer;
      display: flex;
      gap: 10px;
      padding: 10px;

      &:hover {
        background-color: #2d033b;
      }

      img {
        border-radius: 50%;
        height: 50px;
        object-fit: cover;
        width: 50px;
      }

      .userChatInfo {
        span {
          font-size: 18px;
          font-weight: 500;
        }
        p {
          color: #8696a0;
          font-size: 14px;
        }
      }
    }
  }

  .mainchat {
    flex: 2;
  }
}
